:root {
	--yellow: rgb(245, 208, 78);
	--grey: hsl(0, 0, 50);
	--black: hsl(0, 0, 7);
}

body {
	font-family: "Figtree", Arial, Helvetica, "sans-serif";
	color: var(--black);
	display: grid;
	min-height: 100vh;
	place-items: center;
	background-color: var(--yellow);
}

.card {
	display: grid;
	border-color: var(--black);
	border-style: solid;
	background-color: white;
	border-radius: 20px;
	border-width: 1px;
	max-width: 300px;
	min-width: 100px;
	box-shadow: 10px 10px;
	padding: 15px;
	margin: 10px;
}

.thumbnail {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 15px;
}

.type {
	background-color: var(--yellow);
	font-weight: bold;
	font-size: small;
	border-radius: 5px;
	width: fit-content;
	padding: 5px 10px;
}

.published {
	font-size: small;
	padding-top: 10px;
}

h1 {
	font-size: x-large;
	font-weight: 800;
	margin-top: 20px;
	margin-bottom: 0px;
}

p {
	font-size: 16px;
	color: var(--grey);
	margin: 20px 0px;
}

.user {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: bold;
}

.avatar {
	width: 30px;
	height: 30px;
}

.card:hover {
	cursor: pointer;
    h1 {
        color: var(--gold);
    } 
}
